<div class="text-center">
<h1>Welcome to WebMD</h1>
<img src="https://thedoctorweighsin.com/wp-content/uploads/2015/07/happy-doctors.png" alt="doctors"  class="rounded">
<h4>It's as bad as it sounds!</h4>
</div>
