<div class="text-center">
	<h1>Symptom List</h1>
	<h3>Select your Disease</h3>

		<% diseases.forEach(function(disease){ %>
		<div>
			<a href="/diseases/<%=disease.id%>">
				<p class="text-danger">
				<%=disease.name%>
				</p>
			</a>

		</div>
	<% }); %>

</div>
<div class="text-center">
<img src="https://ichef-1.bbci.co.uk/news/660/cpsprodpb/1089D/production/_85814776_c0260742-e._coli_bacteria,_sem-spl.jpg"" alt="bacteria">
</div>
