<form method="POST" action="/symptoms">
	<div class="form-group">
		<label>Name</label>
		<input type="text" name="name" placeholder="symptom name goes here" class="form-control">
		<div class="form-group">
		<label>Description</label>
		<textarea name="description" placeholder="Please, tell me about it." class="form-control"></textarea>
</div>
<div class="form-group">
		<label>Affected Systems</label>
		<input type="type" name="affectedSystems" placeholder="what hurts?" class="form-control">

		</div>
		<div class="form-group">
		<label>Severity</label>
		<input type="number" name="severity" placeholder="how bad?" class="form-control">
		</div>
<div>
		<label>Diseases</label>
		<input type="text" name="diseases" placeholder="diseases" class="form-control">
		</div>
	</div>
	<input type="submit" class="btn btn-success">
</form>
