<h1><%= symptom.name %></h1>
<p><%= symptom.description %></p>
<h3>Affected Systems: <%= symptom.affectedSystems %></h3>
<h4>Associated diseases:</h4>
<ul class="list-group">
<% symptom.diseases.forEach(function(disease) {%>
		<li class="list-group-item-">
			<%= disease.name %>
		</li>
<% }); %>
</ul>
